.row.row-grid [class*="col-"] + [class*="col-"] {
  margin-top: 30px;
}


.content{
  margin-top:100px;
}


.navbar-brand {
  color: #ffffff;
  background-color: rgb(33, 18, 119);
  font-family: Impact, Haettenschweiler, 'Times New Roman', sans-serif;
  font-size: 24px;
  font-weight: 200;
}

.navbar-header{
  width:400px;
  margin-left:75px !important;
  padding-left: 30px;
}

.navbar-header .container-fluid {
float: right;
}

.sample_image {
    width: 30%; 
    float: left; 
    margin : 5px;

}

.temp_image {
    width: 100%; 
    float: left; 
    margin : 5px;

}

.hum_image {
    width: 100%; 
    float: left; 
    margin : 5px;

}

.cloud_image {
    width: 100%; 
    float: left; 
    margin : 5px;

}

.wind_image {
    width: 100%; 
    float: left; 
    margin : 5px;

}


.table {
  color: rgb(17, 12, 12);
  background: #bad2e0;
  width: 100%;
  height: 100%;
  padding: 15px

}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 28px;
  font-weight: 300;
  text-align: center
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial', sans-serif;
	font-size: 24px;
  font-weight: 300;
  text-align: center
}

h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 950px) {
  .navbar-header {
    padding-left: 0px
  }
}

@media (min-width: 1200px) {
  .navbar-header {
    padding-right: 700px
  }
}

@media (min-width: 1500px) {
  .navbar-header {
    padding-right: 1000px
  }
}

@media (min-width: 1200px) {
  .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
      margin-top: 0;
  }
}
@media (min-width: 992px) {
  .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
      margin-top: 0;
  }
}
@media (min-width: 768px) {
  .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
      margin-top: 0;
  }
}
@media (min-width: 768px) {
.row.row-grid [class*="col-xs-"] + [class*="col-xs-"] {
    margin-top: 0;
}
}

body {
  margin: 0;
  padding: 0;
}

div nav {
  margin: 0 auto;
  width: ___px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin-left: auto;
  margin-right: auto;
}